{% extends 'base.html' %}

{% block title %} Anasayfa - {{ block.super }}{% endblock %}


{% block body %}

{#    <div class="container-fluid" >#}
{#        <div class="row" style="margin-bottom: 30px;">#}
{#            <div class="col-md-3" style="background-color: red; height: 100px">1.ürün</div>#}
{#            <div class="col-md-3" style="background-color: blue; height: 100px">2.ürün</div>#}
{#            <div class="col-md-3" style="background-color: yellow; height: 100px">3.ürün</div>#}
{#            <div class="col-md-3" style="background-color: gray; height: 100px">4.ürün</div>#}
{#        </div>#}
{##}
{#    <div class="row" style="margin-bottom: 30px;">#}
{#            <div class="col-md-3" style="background-color: red; height: 100px">1.ürün</div>#}
{#            <div class="col-md-3" style="background-color: blue; height: 100px">2.ürün</div>#}
{#            <div class="col-md-3" style="background-color: yellow; height: 100px">3.ürün</div>#}
{#            <div class="col-md-3" style="background-color: gray; height: 100px">4.ürün</div>#}
{#        </div>#}
{##}
{#    <div class="row" style="margin-bottom: 30px;">#}
{#            <div class="col-md-3" style="background-color: red; height: 100px">1.ürün</div>#}
{#            <div class="col-md-3" style="background-color: blue; height: 100px">2.ürün</div>#}
{#            <div class="col-md-3" style="background-color: yellow; height: 100px">3.ürün</div>#}
{#            <div class="col-md-3" style="background-color: gray; height: 100px">4.ürün</div>#}
{#        </div>#}
{##}
{#    <div class="row" style="margin-bottom: 30px;">#}
{#            <div class="col-md-3" style="background-color: red; height: 100px">1.ürün</div>#}
{#            <div class="col-md-3" style="background-color: blue; height: 100px">2.ürün</div>#}
{#            <div class="col-md-3" style="background-color: yellow; height: 100px">3.ürün</div>#}
{#            <div class="col-md-3" style="background-color: gray; height: 100px">4.ürün</div>#}
{#        </div>#}
        <br><br><div class="row">
            <div class="col-md-6" style="background-color: grey; height: 100px;"></div>
            <div class="col-md-6" style="background-color: #41464b; height: 100px;"></div>
            <div class="row">
                <div class="col-md-4" style="background-color: black; height: 100px;"></div>
                <div class="col-md-4" style="background-color: black; height: 100px;"></div>
{#                <div class="col-md-4" style="background-color: #a0a6ad; height: 100px;"></div>#}
                <div class="col-md-4" style="background-color: darkgray; height: 100px;"></div>
            </div>
        </div>

    Hoşgeldiniz, {{ request.user.get_full_name }}
    </div>

{% endblock %}