{% if messages %}

    {% for message in messages %}
        <div class="container"></div>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong>
        </div>

    {% endfor %}

{% endif %}


{#<div class="container">#}
{#    {% include 'messages.html' %}#}
{#    <form method="POST">#}
{#      <fieldset>#}
{#        <legend>Form</legend>#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit" class="btn btn-primary">#}
{#        Submit#}
{#        </button>#}
{#      </fieldset>#}
{#    </form>#}
{#</div>#}